@{
    ViewBag.Title = "Home | Coder Dojo MKE";
}
<h2>&nbsp;</h2>
<div class="jumbotron">
    <h2>Free coding workshops for youth</h2>
    
    <p class="lead">
        Each workshop is for anyone age 7-17 (12 and under must be accompanied by a parent) who is interested in learning how to program. 
        Most events are on Saturdays with registration beginning at 9:00 and classes beginning at 9:30.  There is a lunch break
        with pizza provided followed by some show and tell.
    </p>
    <p class="lead">
        No previous experience is required, just sign up by clicking on one of the Future Events links below and show up.
    </p>
    <p>
        Follow us on Twitter <a href="http://www.twitter.com/coderdojomke">@@coderdojomke</a>
    </p>
    <p>
        or check us out on Facebook <a href="http://www.facebook.com/coderdojomke">http://www.facebook.com/coderdojomke</a>
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Future Events</h2>
        <div class="main-content">            
            <ul class="future-event-list">                
                <li class="dojo-event" data-eventbrite="12422970439">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                    <p class="event-spaces-left-pc"></p>
                    <p class="event-spaces-left-bring"></p>                    
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Coming Soon</h2>
        <div class="main-content">
            <p>Based on feedback from some of students and mentors we'll be adding the following in 2015.  Stay tuned for updates!</p>
            <ul>
                <li>Class sign-ups for Winter/Spring 2015 sessions</li>
                <li>Classes split by age (7-12 and 13-17)</li>
                <li>New class topics including programming video games.</li>
            </ul>
        </div>
    </div>  
</div>