@{
    ViewBag.Title = "Home | Coder Dojo MKE";
}
<h2>&nbsp;</h2>
<div class="jumbotron">
    <h2>Free coding workshops for youth</h2>
    
    <p class="lead">
        Each workshop is for anyone age 7-17 (12 and under must be accompanied by a parent) who is interested in learning how to program. 
        Please check the event listings below for times and dates.  There is pizza provided followed by some show and tell.
    </p>
    <p class="lead">
        No previous experience is required, just sign up by clicking on one of the Future Events links below and show up.
    </p>
    <p>
        Follow us on Twitter <a href="http://www.twitter.com/coderdojomke">@@coderdojomke</a>
    </p>
    <p>
        or check us out on Facebook <a href="http://www.facebook.com/coderdojomke">http://www.facebook.com/coderdojomke</a>
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Future Events</h2>
        <div class="main-content">            
            <ul class="future-event-list">                
                <li class="dojo-event" data-eventbrite="15295052915">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295067960">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295104068">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295132152">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295171269">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295185311">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295238470">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295219413">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295252512">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295256524">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
                <li class="dojo-event" data-eventbrite="15295260536">
                    <a class="event-date-and-time" href="#" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Ticket Information</h2>
        <div class="main-content">
            <ul>
                <li>
                    <span class="ticket-type-name">Beginner Session</span> 
                    <p class="ticket-type-description">
                        This is for people who have never used AppInventor before and/or have limited computing capabilities.
                        The session will be focused on teaching the basics of computing as well as how to use <a href="http://appinventor.mit.edu/explore/" target="_blank">AppInventor</a> to
                        build a basic application. recommended for ages 7-12 or first timers.
                    </p>
                </li>
                <li>
                    <span class="ticket-type-name">Group Session</span>
                    <p class="ticket-type-description">
                        This is for people who have either used AppInventor previously, have enough skill/knowledge to learn it 
                        quickly (in approx. 5-10 minutes), or have completed 1 or more sessions at the beginner level.  The session 
                        will be focused on teaching the more advanced computer science concepts to help with making a more complicated 
                        mobile application.  Recommended for ages 13-17 or ninjas who have completed their beginner <a href="http://appinventor.mit.edu/explore/" target="_blank">AppInventor</a> 
                        training and are ready for more rigorous challenges.
                    </p>
                </li>
                <li>
                    <span class="ticket-type-name">Still have questions?</span>
                    <p class="ticket-type-description">
                        Please check the FAQ on the event details section of the event by clicking on the event you wish to attend.  
                        If you still have questions feel free to contact us on our @Html.ActionLink("contact page", "Contact", "Home").
                    </p>
                </li>
            </ul>
        </div>
    </div>  
</div>